@use "../_layout/vars" as vars;
@use "../_layout/mixins" as mixin;

.home {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "img img about"
    "title more about"
    "div div div";
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  padding: 2rem 13rem;
  overflow: hidden;

  @include mixin.media() {
    padding: 1rem;

    grid-template-areas:
      "nav"
      "img"
      "title"
      "more"
      "about"
      "div";
    gap: 0rem;
  }

  &__figure {
    grid-area: img;
    background-color: black;
    height: 15rem;
    width: 38rem;
    margin-top: 0.8rem;

    @include mixin.media() {
      width: 100%;
      height: 19rem;
      margin-top: 0rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__title {
    grid-area: title;
    height: 7.2rem;
    width: 14rem;

    @include mixin.media() {
      width: 100%;
      height: 100%;
    }
  }

  &__h1 {
    font-size: 2rem;
    letter-spacing: 0.07rem;
    font-weight: 800;

    @include mixin.media() {
      font-size: 2.4rem;
    }
  }

  &__info {
    grid-area: more;
    height: 7.2rem;
    width: 22rem;
    @include mixin.flex(space-between, flex-start, column);

    @include mixin.media() {
      width: 100%;
      height: 100%;
    }
  }

  &__p {
    font-size: 0.85rem;
    color: vars.$gray;
    text-align: justify;
  }

  &__a {
    @include mixin.flex(center, center, row);
    width: 10rem;
    height: 2rem;
    background-color: vars.$softRed;
    color: vars.$white;
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    &:hover {
      transition: 0.5s;
      background-color: vars.$black;
      color: vars.$white;
    }
  }
}

.header {
  grid-area: nav;
  height: fit-content;
}

.about {
  grid-area: about;
  background-color: map-get(vars.$blues, "veryDark");
  width: 19rem;
  margin-top: 0.8rem;

  @include mixin.media() {
    width: 100%;
    height: 100%;
  }
}

.div {
  grid-area: div;
  background-color: darkblue;
  height: 8rem;

  @include mixin.media() {
    width: 100%;
    height: 100%;
  }
}
